<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249902598288-914r1utg8e7n19kcfu6b3ekv9qdnegpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249902598288-914r1utg8e7n19kcfu6b3ekv9qdnegpr</string>
	<key>API_KEY</key>
	<string>AIzaSyBYlQhXwNYYpFQOHTJPgyvd86kIqYaEsCA</string>
	<key>GCM_SENDER_ID</key>
	<string>249902598288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosTeam2021.ChatAppExercise</string>
	<key>PROJECT_ID</key>
	<string>chatappexercise-2065c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappexercise-2065c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249902598288:ios:76a9989a88f91afa933015</string>
</dict>
</plist>